
[buildout]
parts =
    mysqlconf
    mysql
    mysqlinit
    pidproxy
    supervisor

[mysqlconf]
recipe = collective.recipe.template
input = ${buildout:directory}/../my.cnf.in
output = ${buildout:directory}/parts/mysqlconf/my.cnf
datadir = ${buildout:directory}/var/mysql
logdir = ${buildout:directory}/var/log
server-id = 2
read-only = 1
port = 23307

[mysql]
recipe = zc.recipe.cmmi
url = http://mysql.mirrors.pair.com/Downloads/MySQL-5.1/mysql-5.1.39.tar.gz
md5sum = 55a398daeb69a778fc46573623143268
extra_options =
    --localstatedir=${mysqlconf:datadir}
    --sysconfdir=${buildout:directory}/parts/mysqlconf
    --with-unix-socket-path=${mysqlconf:datadir}/mysqld.sock
    --with-plugins=innobase,myisam
# This MySQL instance should not load configuration from /etc
patch = ${buildout:directory}/../mysql-no-read-etc.patch

[mysqlinit]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    test -e ${buildout:directory}/bin/mysql || \
        ln -s ${mysql:location}/bin/mysql ${buildout:directory}/bin/mysql
    test -e ${mysqlconf:datadir}/mysql && exit 0
    mkdir -p ${mysqlconf:datadir}
    ${mysql:location}/bin/mysql_install_db
    ${mysql:location}/bin/mysqld_safe &
    sleep 5
    ${buildout:directory}/bin/mysql -u root << EOF
        CREATE DATABASE plone;
        GRANT ALL ON plone.* TO 'plone'@'localhost' IDENTIFIED BY 'plonepass';
        FLUSH PRIVILEGES;
        CHANGE MASTER TO
            MASTER_HOST='127.0.0.1',
            MASTER_USER='repl',
            MASTER_PASSWORD='slavepass',
            MASTER_PORT=23306,
            MASTER_LOG_FILE='mysql-bin.000001',
            MASTER_LOG_POS=4,
            MASTER_CONNECT_RETRY=10;
        START SLAVE;
    EOF
    kill `cat ${mysqlconf:datadir}/mysqld.pid`

[pidproxy]
recipe = zc.recipe.egg
eggs = supervisor
scripts = pidproxy

[supervisor]
recipe = collective.recipe.supervisor

port = 127.0.0.1:29002
serverurl = http://127.0.0.1:29002

programs =
    10 mysql ${buildout:directory}/bin/pidproxy [${mysqlconf:datadir}/mysqld.pid ${mysql:location}/bin/mysqld_safe] ${mysql:location} true

