[run]
source = relstorage
omit =
     relstorage/tests/*
     relstorage/adapters/tests/*
     # Omit the main oracle adapter file since we don't test it at all
     relstorage/adapters/oracle.py

[report]
# Coverage is run on Linux under cPython 2 and 3,
# against MySQL and PostgreSQL, so
# exclude branches that are windows, pypy or oracle
# specific
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if PYPY:
    if sys.platform == 'win32':
    if mswindows:
    if is_windows:
    def oracle_
    class CXOracle
    class Oracle
