.installed.cfg
.dir-locals.el
.pydevproject
.project
*.egg-info
*.pyc
*.pyo
*.so
*.sublime-*
.coverage
.runtimes
htmlcov/
bin/
develop-eggs/
wheelhouse/
dist/
eggs/
include/
lib/
parts/

doc/_build/
doc/__pycache__
doc/relstorage.*.rst
