.installed.cfg
.dir-locals.el
.pydevproject
.project
*.egg-info
*.pyc
*.sublime-*
.coverage
htmlcov/
bin/
develop-eggs/
dist/
eggs/
include/
lib/
parts/

doc/_build
doc/__pycache__
doc/relstorage.*.rst
doc/changelog.rst
