[buildout]
develop = .
parts = test python coverage-test coverage-report speed
eggs = relstorage
#        psycopg2
       MySQL-python

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}

[python]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[speed]
recipe = zc.recipe.egg
eggs = relstorage [mysql]
entry-points = speedtest=relstorage.tests.speedtest:main
scripts = speedtest

