[buildout]
develop = .
parts = test python coverage-test coverage-report
find-links = http://packages.willowrise.org
versions = versions

[versions]
ZODB3 = 3.8.4-polling

[test]
recipe = zc.recipe.testrunner
eggs = relstorage
       MySQL-python
       psycopg2

[python]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
