[buildout]
develop = .
parts = test python coverage-test coverage-report
find-links = http://packages.willowrise.org
versions = versions

[versions]
ZODB3 = 3.8.1-polling

[test]
recipe = zc.recipe.testrunner
eggs = relstorage

[python]
recipe = zc.recipe.egg
eggs = relstorage
interpreter = python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = relstorage
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
