include MANIFEST.in *.txt *.py *.yml setup.cfg
include .coveragerc
include buildout*.cfg
include tox.ini
include appveyor.yml
include .pylintrc
include BUILDOUT.rst
include CHANGES.rst
include .landscape.yml
include pyproject.toml
recursive-include .travis *

recursive-include src *.py *.xml *.txt *.test *.conf *.rst *.c *.h *.sql *.cpp
recursive-include src *.pxd *.pyx
recursive-include include *.hpp *.txt *.rst *.ipp

recursive-include docs *.py *.rst *.png Makefile
recursive-exclude docs relstorage.*.rst _build

recursive-include repltest *.cfg *.conf *.in *.patch *.sql
recursive-include scripts *.sh make-manylinux *.py
