include MANIFEST.in *.txt *.py setup.cfg
include .coveragerc
include buildout*.cfg
include tox.ini
include appveyor.yml
include .pylintrc
include BUILDOUT.rst
include CHANGES.rst
include .landscape.yml
recursive-include .travis *

recursive-include notes *.ods *.py *.sql *.txt

recursive-include relstorage *.py *.xml *.txt *.test *.conf *.rst *.c *.h

recursive-include doc *.py *.rst *.png Makefile
recursive-exclude doc relstorage.*.rst _build

recursive-include repltest *.cfg *.conf *.in *.patch *.sql
