
[buildout]
develop = ../..
          ../../../../plone.recipe.zope2instance/trunk
parts =
    mysqlconf
    mysql
    mysqlinit
    MySQL-python
    zope2
    instance
    zopepy
    pidproxy
    supervisor
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://packages.willowrise.org
extends =
    http://dist.plone.org/release/3.3.1/versions.cfg
versions = versions

[versions]
zc.buildout = 1.4.1
ZODB3 = 3.8.3-polling
zope.proxy = 3.4.2
plone.recipe.zope2instance = 3.6dev

[mysqlconf]
recipe = collective.recipe.template
input = ${buildout:directory}/../my.cnf.in
output = ${buildout:directory}/parts/mysqlconf/my.cnf
datadir = ${buildout:directory}/var/mysql
logdir = ${buildout:directory}/var/log
server-id = 1
read-only = 0
port = 23306

[mysql]
recipe = zc.recipe.cmmi
url = http://mysql.mirrors.pair.com/Downloads/MySQL-5.1/mysql-5.1.39.tar.gz
md5sum = 55a398daeb69a778fc46573623143268
extra_options =
    --localstatedir=${mysqlconf:datadir}
    --sysconfdir=${buildout:directory}/parts/mysqlconf
    --with-unix-socket-path=${mysqlconf:datadir}/mysqld.sock
    --with-plugins=innobase,myisam
# This MySQL instance should not load configuration from /etc
patch = ${buildout:directory}/../mysql-no-read-etc.patch

[mysqlinit]
recipe = iw.recipe.cmd
on_install = true
on_update = true
cmds =
    test -e ${buildout:directory}/bin/mysql || \
        ln -s ${mysql:location}/bin/mysql ${buildout:directory}/bin/mysql
    test -e ${mysqlconf:datadir}/plone && exit 0
    mkdir -p ${mysqlconf:datadir}
    ${mysql:location}/bin/mysql_install_db
    ${mysql:location}/bin/mysqld_safe &
    sleep 5
    
    ${buildout:directory}/bin/mysql -u root << EOF
        CREATE DATABASE plone;
        GRANT ALL ON plone.* TO 'plone'@'localhost' IDENTIFIED BY 'plonepass';
        GRANT REPLICATION SLAVE ON *.* TO 'repl'@'localhost' IDENTIFIED BY 'slavepass';
        FLUSH PRIVILEGES;
        RESET MASTER;
        SHOW MASTER STATUS;
    EOF
    kill `cat ${mysqlconf:datadir}/mysqld.pid`

[MySQL-python]
recipe = zc.recipe.egg:custom
environment = MySQL-python-env
rpath = ${mysql:location}/lib/mysql

[MySQL-python-env]
# This is needed to help MySQL-python find the mysql_config script
PATH=${mysql:location}/bin:%(PATH)s

[zope2]
recipe = plone.recipe.zope2install
# update zope by updating this URL:
url = ${versions:zope2-url}
# fake eggs are required to satisfy Zope dependencies while
# zope is not yet eggified.
fake-zope-eggs = true
additional-fake-eggs =
    pytz
skip-fake-eggs =
    ZODB3
    ZConfig
    zope.proxy

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
# The line below sets only the initial password. It will not change an
# existing password.
user = admin:123
http-address = 18080
rel-storage =
    type mysql
    db plone
    user plone
    passwd plonepass
    keep-history false
    replica-conf ${buildout:directory}/replicas.conf
eggs =
    PILwoTK
    Plone
    MySQL-python
    RelStorage
environment-vars =
    PTS_LANGUAGES en

# installs a python interpreter named "py" that runs with your
# full Zope environment
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = py
extra-paths = ${instance:zope2-location}/lib/python
scripts = zopepy zodbconvert


[pidproxy]
recipe = zc.recipe.egg
eggs = supervisor
scripts = pidproxy

[supervisor]
recipe = collective.recipe.supervisor

port = 127.0.0.1:29001
serverurl = http://127.0.0.1:29001

programs =
    10 mysql ${buildout:directory}/bin/pidproxy [${mysqlconf:datadir}/mysqld.pid ${mysql:location}/bin/mysqld_safe] ${mysql:location} true
    20 instance ${instance:location}/bin/runzope ${instance:location} true

